<div class="col-md-12 col-xs-12">

	<div class="col-xs-12 dashboard-flash-group">

		<div class="col-xs-3" style="padding: 0 0.5em 0 0">
			<div class="dashboard-flash" id="bookings-count">
				<span class="dashboard-figure"> 100</span>	
				<i class="fa fa-bookmark fa-2x" id="bookings-logo"></i>

				<span class="dashboard-figure-label" id="bookings">Bookings</span>	
			</div>	
		</div>

		<div class="col-xs-3" style="padding: 0 0.5em 0 0.5em">
			<div class="dashboard-flash" id="reviews-count">
				<span class="dashboard-figure"> 23</span>
				<i class="fa fa-comment fa-2x" id="reviews-logo"></i>
				<span class="dashboard-figure-label" id="reviews"> Reviews</span> 	
			</div>	
		</div>




		<div class="col-xs-3" style="padding: 0 0.5em 0 0.5em">
			<div class="dashboard-flash" id="venues-count">
				<span class="dashboard-figure"> 1</span>
				<i class="fa fa-location-arrow fa-2x" id="venues-logo"></i>

				<span class="dashboard-figure-label" id="venues"> Venues</span> 	
			</div>		
		</div>

		<div class="col-xs-3" style="padding: 0 0 0 0.5em">
			<div class="dashboard-flash" id="rooms-count">
				<span class="dashboard-figure"> 1</span>
				<i class="fa fa-map-marker fa-2x" id="rooms-logo"></i>	
				<span class="dashboard-figure-label" id="rooms"> Rooms </span> 	
			</div>	
		</div>


	</div><!--group-->




	<div class="col-md-12">
		<div class="panel dash panel-dash">
			<div class="panel-heading">
				<i class="fa fa-bookmark fa-2x"></i> 
				<span class="announcement-heading"> Recent Pencil Bookings</span>
			</div>

			<div class="panel-body" id ="body-bookings">

			<div class="col-xs-12 bookings-div">
				<div class="col-xs-8 no-pads-really">
					<i class="fa fa-user"></i>&nbsp; Francis Bautista
				</div>

				<div class="col-xs-4 no-pads-really bookings-place text-right">


				<span class="label label-light-gray booker-name">Hogwarts </span>

				<div class="bookings-action">
					<i class="fa fa-check fa-lg fa-orange"></i>
					<i class="fa fa-trash-o fa-lg fa-orange"></i>
				</div>
				
				</div>

			</div><!--booking-div-->

			<div class="col-xs-12 bookings-div">
				<div class="col-xs-8 no-pads-really">
					<i class="fa fa-user"></i>&nbsp; Francis Bautista
				</div>

				<div class="col-xs-4 no-pads-really bookings-place text-right">


				<span class="label label-light-gray booker-name">Hogwarts </span>

				<div class="bookings-action">
					<i class="fa fa-check fa-lg fa-orange"></i>
					<i class="fa fa-trash-o fa-lg fa-orange"></i>
				</div>
				
				</div>

			</div><!--booking-div-->
			
		
				
		</div><!--end body-->
	</div><!--end panel-->
</div>




<div class="col-md-12">
	<div class="panel dash panel-dash">
		<div class="panel-heading col-xs-12">
			<div class="col-xs-8">
				<i class="fa fa-location-arrow fa-2x"></i>
				<span class="announcement-heading">Venues</span>
			</div> 
			<div class="col-xs-4 text-right">
				<span class="label label-light" style="display: none" id="add-venue-label"> Add Venue</span>
				<%= link_to '<i class="fa fa-plus-circle fa-2x fa-gray fa-orange"></i>'.html_safe, new_venue_path %> 
			</div>
		</div>
		<div class="panel-body">

		</div><!--panel-body--> 
	</div><!--end panel-->
</div>

<div class="col-md-12">
	<div class="panel dash panel-dash">
		<div class="panel-heading">
			<i class="fa fa-map-marker fa-2x"></i>
			<span class="announcement-heading">Rooms</span>
		</div>
		<div class="panel-body">

		</div><!--panel-body-->
	</div><!--end panel-->
</div>

</div><!--first col-->

