<div class="col-md-12">

    <div class="container dashboard-wrapper">

	<% if supplier_signed_in? %>
		<%= render partial: "pages/supplier" %>
	<% else %>
		<%= render partial: "pages/user" %>
	<% end %>

    

          
    </div><!--container-->

</div>


