
  <div class="row-fluid">
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <h4>SITE MAP
      </h4>
      <a href="">FAQ</a><br>
      <a href="">Terms and Conditions</a>
      <br>
      <br>
      <h4>OUR SERVICES</h4>
      <a href="">
        For Customers
      </a><br>
      <a href="">For Suppliers</a><br>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <h4>ABOUT</h4>
      <a href="">EventPlanner.PH</a><br>
      <a href="">Meet the Team</a><br>
      <br>
      <h4>PARTNERS</h4>
      <a href="">Our partners</a><br>
      <a href="">Become a partner</a>
    </div>
    <div class="col-sm-6 col-xs-12" style="background-color: $salmon;">
      <h4>FEEDBACK
        <small>We would love to hear from you!</small>
        &emsp;&emsp;<button type="submit" class="btn btn-default">Submit</button></h4>
      <form role="form">
        <input type="Text" class="form-control not-simple-form" placeholder="Name (Required)">
        <textarea class="form-control" style="resize: none;" placeholder="Your message"></textarea>
      </form>
    </div>
  </footer>
<a id="top-link"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>

<script type="text/javascript">
	
$(document).ready(function() {
	 $('#learn-more').click(function() {
	 	$(window).scrollTo("section#about", 800, {offset:-68}); 
	 });
});

$('[data-autoheight="true"]').css('padding-top', '2em');
</script>
