<div class="container">


  <div class="col-md-12 col-xs-12 no-padding">

    <div class="col-xs-4 show-box no-padding">    
    </div><!--col-->

    <div class="col-xs-8 no-padding">
        <img src="http://placekitten.com/620/400" class="img-responsive">
    </div><!--col-->

  </div><!--col-md-12-->

  <div class="col-md-12 col-xs-12 no-padding">

    <div class="col-xs-7 right-padding"> 

      <div class="panel panel-show" id="panel-details">
        <div class="panel-heading">
        Details
        </div><!--panel heading-->     
      </div><!--panel-->   

    </div><!--col-->

    <div class="col-xs-5 left-padding">

      <div class="panel panel-show" id="panel-contact">
        <div class="panel-heading">
        Contact
        </div><!--panel heading-->     
      </div><!--panel-->   
      
    </div><!--col-->


  </div><!--col-12-->

  <div class="col-md-12 col-xs-12 no-padding">

    <div class="col-xs-6 right-padding"> 

      <div class="panel panel-show" id="panel-rooms">
        <div class="panel-heading">
        Rooms
        </div><!--panel heading-->     
      </div><!--panel-->   

    </div><!--col-->

    <div class="col-xs-6 left-padding">

      <div class="panel panel-show" id="panel-photos">
        <div class="panel-heading">
        Photos
        </div><!--panel heading-->     
      </div><!--panel-->   
      
    </div><!--col-->


  </div><!--col-12-->




</div><!--container-->