/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


/* GLOBAL VARIABLES
---------------------------------------------------------------------------------------------- */

$salmon: rgba(255, 103, 89, 1);
$navhover: rgba(255, 103, 89, 0.5);/* #ff6759 */
$lblue: rgba(62, 200,  230, 1); /* #3ec8e6 */
$gray: rgba(87, 94, 92, 1); /* #575e5c  */
$cream: rgba(253, 242, 211, 1); /* #fdf2d3  */
$white: rgba(255, 255, 245, 1); /* #fffff5 */

/*** MOBILE STYLES ***/
	.searchbox {
	min-height: 200px;
	height: auto;
	width: 60%;
	background-color: $white;
	position: absolute;
	bottom: 60px;
	left: 20%;
	border: 1px solid $navhover;
	padding: 20px;
}
@media (max-width: 699px) {

}


/*** DESKTOP STYLES ***/
@media (min-width: 700px) {
	.searchbox {
	min-height: 200px;
	height: auto;
	width: 30%;
	background-color: $white;
	position: absolute;
	bottom: 60px;
	left: 60%;
	border: 1px solid $navhover;
	padding: 20px;
}
}

body {
	background-color: $white;
	font-family: 'Open Sans', sans-serif;

}

h1, h2, h3 {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
}


.footer a {
	color: #FFF;
}

.container {
	max-width: 960px;
}

.carousel {
	width: 100%;
	height: 700px;
	background-color: $lblue;
	margin-bottom: 20px;
}

.landingbox {
	width: 100%;
	border: 1px #898989 solid;
	height: 300px;
}

.landingbody {
	height: auto;
	min-height: 1000px;
	position: relative;
}

.landingcontent {
	clear:both;
	min-height: 2000px;
	height: 100%;
	background-color: $white;
}



.searchbox .btn, .searchbox .form-control {
	width: 100%;
	margin-left: 5px;
	height: 50px;
}


/*** BOOTSTRAP OVERRIDES: EVPH THEME ***/

.btn {
	border-radius: 0px;
	width: 100px;
	margin: 5px;
}

.btn.btn-sm {
	width: 80px;
}

.btn-danger {
	background-color: $salmon;
}

.btn-info {
	background-color: $lblue;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.form-control {
	margin-top: 5px;
	border-radius: 0px;
}

.panel {
	margin-top: 20px;
	border-radius: 0px;
}

.panel-danger > .panel-heading {
	background-color: $salmon;
	border-radius: 0px;
}

.panel-info > .panel-heading {
	background-color: $lblue;
	border-radius: 0px;
}

.panel-default > .panel-heading {
	border-radius: 0px
}

.footer {
	background-color: $salmon;
	position: absolute;
	bottom: 0;
	height: auto;
	width: 100%;
	padding: 20px;
}

.footer .btn {
	margin: 0px;
}

