/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require font-awesome
 *= require_tree .
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


/* GLOBAL VARIABLES
---------------------------------------------------------------------------------------------- */

$salmon: rgba(255, 103, 89, 1);
$navhover: rgba(255, 103, 89, 0.5);/* #ff6759 */
$lblue: rgba(62, 200,  230, 1); /* #3ec8e6 */
$gray: rgba(87, 94, 92, 1); /* #575e5c  */
$cream: rgba(253, 242, 211, 1); /* #fdf2d3  */
$white: rgba(255, 255, 245, 1); /* #fffff5 */

/*** MOBILE STYLES ***/
	.searchbox {
	min-height: 200px;
	height: auto;
	width: 60%;
	background-color: $white;
	position: absolute;
	bottom: 60px;
	left: 20%;
	border: 1px solid $navhover;
	padding: 20px;
}
@media (max-width: 699px) {

}


/*** DESKTOP STYLES ***/
@media (min-width: 700px) {
	.searchbox {
	min-height: 200px;
	height: auto;
	width: 30%;
	background-color: $white;
	position: absolute;
	bottom: 60px;
	left: 60%;
	border: 1px solid $navhover;
	padding: 20px;
}
}

body {
	background-color: $white;
	font-family: 'Open Sans', sans-serif;

}

h1, h2, h3 {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
}


.footer a {
	color: #FFF;
}

.container {
	max-width: 960px;
}

.carousel {
	width: 100%;
	height: 700px;
	background-color: $lblue;
	margin-bottom: 20px;
}

.content {
	margin-top: 70px;
}

.landingbox {
	width: 100%;
	border: 1px #898989 solid;
	height: 300px;
}

.landingbody {
	height: auto;
	min-height: 1000px;
	position: relative;
}

.landingcontent {
	clear:both;
	min-height: 2000px;
	height: 100%;
	background-color: $white;
}



.searchbox .btn, .searchbox .form-control {
	width: 100%;
	margin-left: 5px;
	height: 50px;
}


/*** BOOTSTRAP OVERRIDES: EVPH THEME ***/


.btn {
	border-radius: 0px;
	width: 100px;
	margin: 5px;
}

.btn.btn-sm {
	width: 80px;
}

.btn-danger {
	background-color: $salmon;
}

.btn-info {
	background-color: $lblue;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.form-control {
	margin-top: 5px;
	border-radius: 0px;
}

.panel {
	margin-top: 20px;
	border-radius: 0px;
}

.panel-heading {
	height: auto;
}

.panel-danger > .panel-heading {
	background-color: $salmon;
	border-radius: 0px;
}

.panel-info > .panel-heading {
	background-color: $lblue;
	border-radius: 0px;
}

.panel-default > .panel-heading {
	border-radius: 0px
}

.footer {
	background-color: $salmon;
	position: absolute;
	bottom: 0;
	height: auto;
	width: 100%;
	padding: 20px;
}

.footer .btn {
	margin: 0px;
}

/* FORMTASTIC */
/* -------------------------------------------------------------------------------------------------


This stylesheet forms part of the Formtastic Rails Plugin
(c) 2008-2011 Justin French

--------------------------------------------------------------------------------------------------*/

/* NORMALIZE AND RESET - obviously inspired by Yahoo's reset.css, but scoped to just .formtastic
--------------------------------------------------------------------------------------------------*/
.formtastic,
.formtastic ul,
.formtastic ol,
.formtastic li,
.formtastic fieldset,
.formtastic legend,
.formtastic input,
.formtastic button,
.formtastic textarea,
.formtastic select,
.formtastic p {
  margin-top: 0px;
  padding:0;
  list-style-type: none;
}

.formtastic button {
	padding: 10px;
	border-radius: 0px;
	border: 1px solid;
	text-transform: uppercase;
}

.formtastic .btn {
	padding: 10px;
	width: auto;
	text-transform: uppercase;
}

.formtastic fieldset {
  border:0;
}

.formtastic em,
.formtastic strong {
  font-style:normal;
  font-weight:normal;
}

.formtastic ol,
.formtastic ul {

  list-style:none;
}

.formtastic abbr,
.formtastic acronym {
  border:0;
  font-variant:normal;
}

.formtastic input,
.formtastic button,
.formtastic textarea {
  font-family:sans-serif;
  font-size:inherit;
  font-weight:inherit;
}


.formtastic textarea,
.formtastic select {
  font-size:100%;
  min-width: 200px;
  padding: 8px 10px 7px;
  font-size: 12px;
}

.formtastic input {
  font-size: 100%;
}

.formtastic legend {
  white-space:normal;
  color:#000;
}


/* SEMANTIC ERRORS
--------------------------------------------------------------------------------------------------*/
.formtastic .errors {
  color:#cc0000;
  margin:0.5em 0 1.5em 25%;
  list-style:square;
}

.formtastic .errors li {
  padding:0;
  border:none;
  display:list-item;
}


/* BUTTONS & ACTIONS
--------------------------------------------------------------------------------------------------*/
.formtastic .buttons, 
.formtastic .actions {
  overflow:hidden; /* clear containing floats */
  padding-left:0%;

}

.formtastic .button, 
.formtastic .action {
  float:left;
  padding-right:0.5em;

}


.formtastic .button_action button {
  padding: 3px 8px;

}

.formtastic .link_action a {
  display:block;
  padding:3px 0;
}


/* INPUTS
--------------------------------------------------------------------------------------------------*/
.formtastic .inputs {
  overflow:hidden; /* clear containing floats */
}

.formtastic .input {
  overflow:hidden; /* clear containing floats */
  padding:0.1em 0; 
  /* padding and negative margin juggling is for Firefox */
  margin-top:-0.5em;
  margin-bottom: 0.5em

}


/* LEFT ALIGNED LABELS
--------------------------------------------------------------------------------------------------*/
.formtastic .input .label {
  display:block;
  width:25%;
  float:left;
  padding-top:.2em;
}

.formtastic .fragments .label,
.formtastic .choices .label {
  position:absolute;
  width:95%;
  left:0px;
}

.formtastic .fragments .label label,
.formtastic .choices .label label {
  position:absolute;
}

/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
--------------------------------------------------------------------------------------------------*/
.formtastic .choices {
  position:relative;
}

.formtastic .choices-group {
  float:left;

  margin:0;
}

.formtastic .choice {
  padding:0;
  border:0;
}


/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
.formtastic .input .inline-hints {
  color:#666;
  margin:0.5em 0 0 25%;
}


/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
.formtastic .inline-errors {
  color:#cc0000;
  margin:0.5em 0 0 25%;
}

.formtastic .errors {
  color:#cc0000;
  margin:0.5em 0 0 25%;
  list-style:none;
}

.formtastic .errors li {
  padding:0;
  border:none;
  display:list-item;
}


/* STRING, NUMERIC, PASSWORD, EMAIL, URL, PHONE, SEARCH (ETC) OVERRIDES
--------------------------------------------------------------------------------------------------*/
.formtastic .stringish input {
  width: 100%;
  margin-top: 10px;
  min-height: 35px;
  border-radius: 0px;
  border: 1px solid #898989;
  padding: 5px;
  background-color: #e9e9e9;
}

.formtastic .stringish input[size],
.formtastic .stringish input[max] {
  width:auto;
  max-width:72%;
  border-radius: 0px;
  border: 1px solid #898989;
  padding: 5px;
  background-color: #e9e9e9;
}


/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
.formtastic .text textarea {
  width:72%;
}

.formtastic .text textarea[cols] {
  width:auto;
  max-width:72%;
}


/* HIDDEN OVERRIDES
--------------------------------------------------------------------------------------------------*/
.formtastic .hidden {
  display:none;
}


/* BOOLEAN LABELS
--------------------------------------------------------------------------------------------------*/
.formtastic .boolean label {
  padding-left:25%;
  display:block;
}


/* CHOICE GROUPS
--------------------------------------------------------------------------------------------------*/
.formtastic .choices-group {
  margin-bottom:-0.5em;
}

.formtastic .choice {
  margin:0.1em 0 0.5em 0;
}

.formtastic .choice label {
  float:none;
  width:100%;
  line-height:100%;
  padding-top:0;
  margin-bottom:0.6em;
}


/* ADJUSTMENTS FOR INPUTS INSIDE LABELS (boolean input, radio input, check_boxes input)
--------------------------------------------------------------------------------------------------*/
.formtastic .choice label input,
.formtastic .boolean label input {
  margin:0 0.3em 0 0.1em;
  line-height:100%;
}


/* FRAGMENTED INPUTS (DATE/TIME/DATETIME)
--------------------------------------------------------------------------------------------------*/
.formtastic .fragments {
  position:relative;
}

.formtastic .fragments-group {
  width:100%;
  margin:0;
  padding:0 0 0 0;
}

.formtastic .fragment {
  position: relative;
  display: block;
  float:left;
  width:100%;
  margin:3px;
  padding:0;
  border:0;

}

.formtastic .fragment label {
  display:hidden;
  visibility: hidden;
}

.formtastic .fragment label input {
  display:hidden;
  margin:0;
  padding:0;
}

.formtastic .fragment select
{
  min-width: 0px;

}

.short-form {
  max-width: 1000px;
}

/* CUSTOMIZE THE NAVBAR
---------------------------------------------------------------------------------------------- */

.navbar-inverse {
  background-color: none;
  color: rgba(158,158,158,1);
  font-weight: normal;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: none;
  color: $salmon;
  font-weight: bold;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: $salmon;
}


.navbar-inverse .navbar-nav > li > a:hover {
  color: white;
}



.navbar {
  max-height: 68px;

  border: none;
}

.nav{
  padding-left: 0;
  padding-right: 0;

}



.container > .navbar-header, .container > .navbar-collapse {
 // margin-top: 10px;
}


#nav.navbar.navbar-inverse.navbar-fixed-top.no-padding {
  background-color: $white;
  border-bottom: none;
  top: 0px;
}

/*
.navbar-inverse .navbar-nav > li > a{
    background-color: $white;
    padding-top: 0.7em;
    text-decoration: none;
    width: 100%;
}
*/
.navbar-inverse .navbar-nav > li > a:hover{
  background-color: $navhover;
  color: $white;
}
.navbar-inverse .navbar-nav > li > a.active{
  background-color: $salmon;
  color: $white;
}

#navbar-wrapper {
  position: relative;
  z-index: 10;
  height: 68px;
}

#nav-container{
  width: 100%;
}

@media (max-width: 990px){
  .container {
    max-width: 100%;
  }



}

.row {
  background-color: $white;
}

.row-clear{
  background-color: transparent;
  margin-right: 0;
  padding-right: 0;

}


.navbar-collapse.in {
  overflow-y: visible;
}

.user-nav{
  right: 0;
}

.navbar-inverse .navbar-collapse .collapse{
  padding: 0;
  border-top: 0;
}

.navbar .navbar-inverse .navbar-fixed-top .no-padding{
  height: 0;
}

.navbar-inverse .navbar-collapse {
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0;

}


.navbar-inverse .navbar-nav {
  z-index: 999;
}


.navbar-inverse .navbar-nav > .open > a{
  background-color: $white;
  color: #999;
}

.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: $salmon;
}


.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
  background-color: $navhover;
  color: #aaa;

}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a.active{
  color: $salmon;
  background-color: transparent;
}






@media (min-width: 767px){

  .navbar-inverse .navbar-nav,
  .navbar-inverse .navbar-nav > li > a{
    height: 68px;
  }


  .navbar-inverse .navbar-nav > li > a{
    padding-top: 1.2em;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
	}

  .navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
  }

}

@media (max-width: 767px){

  .navbar-inverse .navbar-nav > li > a{
    padding-top: 0.7em;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .navbar-inverse .navbar-nav > li > a > .nav-label{
    display: inline-block;
    font-size: 1.2em;
    text-align: right;
  }

  .navbar-inverse .navbar-nav > li > a > .nav-icon{
    font-size: 1.2em ;
  }
}



.navbar-inverse .navbar-toggle{
  background-color: $salmon;
  border: none;
  margin-top: 20px;

}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: $salmon;
}

.main-nav a {
  text-decoration: none;
}



/* DASHBOARD
--------------------------------------------------------------------------------------------------*/
.fa-account-type > #venue-provider{
	background-color: rgba(62, 200, 230, 0.75);
}

.fa-account-type > #event-planner{
	background-color: rgba(255, 103, 89, 0.75);
}


.btn-default-gray {
  background-color: #bbb;
  border-color: #bbb;
}

.dashboard-wrapper{
  /*background-color: rgb(249, 234, 192);*/
  background-color: rgba(255, 255, 245, 0.5);
  min-height: 500px;
  padding: 1.5em;
}

.account-info {
 /* background-color: rgb(247, 226, 170);*/
 padding: 1em 0 1em 0;
 /*  padding: 0.75em 1em 0.3em 1em;
 min-height: 5.5em;*/
 margin-bottom: 0.5em;
 min-height: 4.3em;
 background-color: transparent!important;
}

.account-type-wrapper > td > .account-name{
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: 'Cabin', sans-serif;
  opacity: 1;
  position: absolute;
  transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -oz-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.account-type-wrapper > td > #venue-provider-label,
.account-type-wrapper > td > #event-planner-label{
  font-weight: normal;
  opacity: 0;
  font-size: 1em;
  line-height: 1.5em;
  cursor: none;
  transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -oz-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;


}

.account-type-wrapper > #venue-provider-label{
  background-color: rgba(62, 200, 230, 0.75);
}

.account-type-wrapper > #event-planner-label{
  background-color: rgba(255, 103, 89, 0.75);
}



.account-type-wrapper > td > span > #account-type{
  font-size: 1em;
  right: 0;
  color: $white;
  font-weight: 700;

}

.fa-gray{
  font-size: 1.75em;
  color: rgba(89, 89, 89, 0.5);
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  -o-transition: color 0.35s;
}

.fa-vp{
  color: rgba(62, 200, 230, 0.95);
}

.fa-ep{
  color: rgba(255, 103, 89, 0.95);
}

.fa-gray:hover, .fa-orange:hover{
  /*color: rgba(89, 89, 89, 0.95); */
  color: rgb(249, 209, 97);
}
