* {
  box-sizing: border-box;
}


.page-wrap {
  float: left;
  width: 100%;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}

.main-nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 0;
  right: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    &:hover, &:focus {
    
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
   
  }
}


.close-menu {
  display: none;
}

/*#main-nav:target {
  width: 20%;
}
#main-nav:target + .page-wrap {
  width: 80%;
  .open-menu {
     display: none; 
  }
  .close-menu {
     display: block;
  }
  .navbar {
    width: 80%;
    right: 20%;
    
  }
}*/