<div id="navbar-wrapper">
  <div class="container" id ="nav-container">        
    <div id="nav" class="navbar navbar-fixed-top no-padding">
        <div class="col-sm-12 padding-3em">
            <div class="col-xs-6">

              <a class="navbar-brand" href="/">
                <img src="/assets/landing/logo2-nav.png" class="nav-logo" width= "200px;">
              </a>

            </div> <!--col-->

            <div class="col-xs-6">
              <button type="button" class="toggle-nav navbar-toggle">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

            </div><!--col-->
        </div>
     </div><!--nav id-->
    </div><!--nav container-->
</div><!--navbar wrapper-->

