<div id="navbar-wrapper">
  <div class="container" id ="nav-container">        
    <div id="nav" class="navbar navbar-fixed-top no-padding">
        <div class="col-sm-12 padding-3em">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img src="/assets/landing/logo2-nav.png" class="nav-logo" width= "200px;">
              </a>
            </div> <!--nav-header-->

            <div class="row">
            <div class="navbar-collapse collapse">
              <nav id = "nav-main" role = "navigation">
                  <div class="no-padding">
                      <!--main-nav-->
                      <div class="main-nav">

                      <ul id="unsigned" class="nav navbar-nav">              
            						<li class="dropdown">
              						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In</span></a>
              							<div class="dropdown-menu" role="menu">
              								  <div class="col-lg-6" id="event-planner">
    		                         <%= link_to "I'm a Event<br> Planner".html_safe, new_user_session_path, id: "log-in"  %>       
    		                       </div>

    		                       	<div class="col-lg-6" id="venue-provider">
    		                         <%= link_to "I'm a Venue<br> Provider".html_safe, new_supplier_session_path, id: "log-in"  %>    
    		                       	</div>

              							</div><!--dropdown menu-->
              						</li>

                        <li class="dropdown" id="sign-up-li">
                        <button class="dropdown-toggle btn btn-danger" data-toggle="dropdown" id="sign-up">Sign Up!</button>
                          <div class="dropdown-menu" role="menu">
                            <div class="col-lg-6" id="event-planner">
                               <%= link_to "I want to book a venue!".html_safe, new_user_registration_path, id: "create-new"  %>
                               
                             </div> 

                            <div class="col-lg-6" id="venue-provider">
                               <%= link_to 'I can provide a venue!'.html_safe, new_supplier_registration_path, id: "log-in"  %>    
                            </div>

                          </div><!--dropdown menu-->
                        </li>    

                      </ul> <!--unsigned-->  
                    </div>    <!--main-nav--> 
                    </div> <!--no padding-->
              </nav>  
            </div> 
          </div><!--row-->
        </div>
     </div><!--nav id-->
    </div><!--nav container-->
</div><!--navbar wrapper-->

